* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid {
  background: hsl(227, 76%, 45%);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
}

.cell:nth-child(even) {
  background: repeating-linear-gradient(
    45deg,
    hsl(227, 76%, 45%),
    hsl(227, 76%, 45%) 5%,
    #fff 5%,
    #fff 11%
  );
}

.cell.hole {
  background: hsl(227, 76%, 56%);
}

.cell.dot::after {
  display: block;
  content: "";
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: hsl(227, 76%, 35%);
  border: 3px solid #fff;
}

.cell.pellet::after {
  display: block;
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: hsl(227, 76%, 35%);
  border: 3px solid #fff;
}

.cell.player::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 50%;
  translate: -50% 0;
  height: 2.5rem;
  aspect-ratio: 2/3;
  background-image: url("/assets/white-pawn.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.cell.player.stopped::after { animation-play-state: paused; }
.cell.player.right::after { animation-name: moveRight }
.cell.player.left::after { animation-name: moveLeft; scale: -1 1; }
.cell.player.up::after { animation-name: moveUp }
.cell.player.down::after { animation-name: moveDown }

@keyframes moveRight {
  20% {
    translate: -50% -15%;
  }

  60% {
    left: 100%;
    translate: -50% -30%;
    rotate: -10deg;
  }

  100% {
    left: 150%;
    translate: -50% 0%;
  }
}

@keyframes moveLeft {
  20% {
    translate: -50% -15%;
  }

  60% {
    left: 0%;
    translate: -50% -30%;
    rotate: 10deg;
  }

  100% {
    left: -50%;
    translate: -50% 0%;
  }
}

@keyframes moveUp {
  20% {
    translate: -50% -30%;
    transform: scale(1.05) rotate(-5deg);
  }

  60% {
    translate: -50% -60%;
    transform: scale(1.05) rotate(-5deg);
  }

  80% {
    translate: -50% -80%;
  }

  100% {
    translate: -50% -100%;
  }
}

@keyframes moveDown {
  20% {
    translate: -50% 30%;
    transform: scale(1.05) rotate(-5deg);
  }

  60% {
    translate: -50% 60%;
    transform: scale(1.05) rotate(-5deg);
  }

  80% {
    translate: -50% 80%;
  }

  100% {
    translate: -50% 100%;
  }
}
