* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app :is(header, main) {
  padding-inline: 0.25rem;
}

#app header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(227, 76%, 54%);
}

#app header span {
  margin-top: 0.25rem;
}

#chronometer {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

#clock {
  width: 1.5rem;
  height: 1.5rem;
}

#clock-hand {
  transform-origin: 9px 12.5px;
  animation: clock 4s steps(1, end) infinite;
}

@keyframes clock {
  25% { rotate: 90deg; }
  50% { rotate: 180deg; }
  75% { rotate: 270deg; }
  100% { rotate: 360deg; }
}

#app header > div:last-child {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

#lives {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

#lives svg {
  margin-right: -0.0625rem;
}

#app main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
}

#grid {
  width: 100%;
  background: hsl(227, 76%, 45%);
}

.cell {
  position: relative;
  background: #fff;
  aspect-ratio: 1;
}

.cell:nth-child(even) {
  background: repeating-linear-gradient(
    45deg,
    hsl(227, 76%, 45%),
    hsl(227, 76%, 45%) 5%,
    #fff 5%,
    #fff 11%
  );
}

.cell > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cell .hole {
  background: hsl(227, 76%, 56%);
}

.cell .dot::after {
  display: block;
  content: "";
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: hsl(227, 76%, 35%);
  border: 3px solid #fff;
}

.cell .pellet::after {
  display: block;
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: hsl(227, 76%, 35%);
  border: 3px solid #fff;
}

.cell .player::after { z-index: 2; }
.cell .enemy::after { z-index: 1; }

.cell .player::after,
.cell .enemy::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  translate: -50% 0;
  height: 125%;
  aspect-ratio: 2/3;
  background-image: url("/assets/white-pawn.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.cell .enemy.blinky::after { background-image: url("/assets/black-pawn-blinky.png"); }
.cell .enemy.inky::after { background-image: url("/assets/black-pawn-inky.png"); }
.cell .enemy.pinky::after { background-image: url("/assets/black-pawn-pinky.png"); }
.cell .enemy.clyde::after { background-image: url("/assets/black-pawn-clyde.png"); }

.cell .player.promoted::after {
  background-image: url("/assets/white-rook.png");
  animation-timing-function: linear;
}

.cell .player.transforming::after {
  animation-name: rubberBand !important;
  animation-play-state: running !important;
  animation-delay: 0s;
}

.cell .stopped::after { animation-play-state: paused; }

.cell .player.promoted.right::after { animation-name: rookMoveRight; }
.cell .player.promoted.left::after { animation-name: rookMoveLeft; scale: -1 1; }
.cell .player.promoted.up::after { animation-name: rookMoveUp; }
.cell .player.promoted.down::after { animation-name: rookMoveDown; }

.cell :is(.enemy, .player:not(.promoted)).right::after { animation-name: pawnMoveRight }
.cell :is(.enemy, .player:not(.promoted)).left::after { animation-name: pawnMoveLeft; scale: -1 1; }
.cell :is(.enemy, .player:not(.promoted)).up::after { animation-name: pawnMoveUp }
.cell :is(.enemy, .player:not(.promoted)).down::after { animation-name: pawnMoveDown }

@keyframes rubberBand {
  0% { transform: scale(1, 1); }
  30% { transform: scale(1.25, 0.75); }
  40% { transform: scale(0.75, 1.25); }
  50% { transform: scale(1.15, 0.85); }
  65% { transform: scale(0.95, 1.05); }
  75% { transform: scale(1.05, 0.95); }
  100% { transform: scale(1, 1); }
}

@keyframes rookMoveRight {
  100% { left: 150%; }
}

@keyframes rookMoveLeft {
  100% { left: -50%; }
}

@keyframes rookMoveUp {
  100% { bottom: 100%; }
}

@keyframes rookMoveDown {
  100% { bottom: -100%; }
}

@keyframes pawnMoveRight {
  25% { left: 75%; bottom: 17%; }
  50% { left: 100%; bottom: 34%; rotate: -10deg; }
  100% { left: 150%; bottom: 0%; }
}

@keyframes pawnMoveLeft {
  25% { left: 25%; bottom: 17%; }
  50% { left: 0%; bottom: 34%; rotate: 10deg; }
  100% { left: -50%; bottom: 0%; }
}

@keyframes pawnMoveUp {
  20% { bottom: 30%; scale: 1.05; rotate: -5deg; }
  60% { bottom: 60%; scale: 1.05; rotate: -5deg; }
  80% { bottom: 80%; }
  100% { bottom: 100%; }
}

@keyframes pawnMoveDown {
  20% { bottom: -30%; scale: 1.05; rotate: -5deg; }
  60% { bottom: -60%; scale: 1.05; rotate: -5deg; }
  80% { bottom: -80%; }
  100% { bottom: -100%; }
}
