* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: hsl(227, 76%, 54%);
}

#app :is(header, footer, main) {
  padding-inline: 0.25rem;
  max-width: 50rem;
}

#app header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
  width: 100%;
  padding-block: 0.5rem;
}

#app header span {
  margin-top: 0.25rem;
}

#chronometer {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  width: 5rem;
}

#clock {
  width: 1.5rem;
  height: 1.5rem;
}

#clock-hand { transform-origin: 9px 12.5px; }
#clock-hand.running { animation: clock 4s steps(1, end) infinite; }

@keyframes clock {
  25% { rotate: 90deg; }
  50% { rotate: 180deg; }
  75% { rotate: 270deg; }
  100% { rotate: 360deg; }
}

#status {
  text-align: center;
}

#app header > div:last-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#lives {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

#lives svg {
  margin-right: -0.125rem;
}

#app main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
}

#app footer {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  visibility: hidden;
  width: 100%;
  min-height: 3rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: hsl(212, 100%, 15%);
}

#app footer:has(#joystick.enabled) {
  align-items: center;
  min-height: 7rem;
}

#band {
  position: relative;
  width: 100%;
  height: 0rem;
  margin-block: 2rem 1rem;
}

:has(#joystick.enabled) #band {
  height: 4rem;
  margin-block: 1.5rem;
  border-top: 2px solid hsl(227, 76%, 45%);
  border-bottom: 2px solid hsl(227, 76%, 45%);
  background: repeating-linear-gradient(
    45deg,
    hsl(227, 76%, 45%),
    hsl(227, 76%, 45%) 3px,
    #fff 3px,
    #fff 6px
  );
}

#credits {
  position: absolute;
  left: 0%;
  bottom: 100%;
  padding-bottom: 0.375rem;
}

#credits a {
  color: hsl(227, 76%, 45%);
}

@media (max-width: 480px) {
  #credits span {
    display: none;
  }
}

:has(#joystick.enabled) #gameplay-info {
  display: none;
}

#gameplay-info {
  display: block;
  position: absolute;
  right: 0%;
  bottom: 100%;
  padding-bottom: 0.375rem;
}

#joystick-container,
#joystick,
#joystick-overlay,
#joystick-overlay::after,
#joystick-shadow,
#joystick-outer-ring,
#joystick-inner-ring,
#joystick-knob {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50%;
}

#joystick-container { display: none; }
#joystick-container:has(#joystick.enabled) { display: block; }

#joystick {
  overflow: hidden;
  width: 6rem;
  height: 6rem;
  background: hsl(212, 70%, 30%);
}

.joystick-sector {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  box-shadow: 0px 0px 0px 1px hsl(212, 100%, 15%);
}

.joystick-sector.up { top: 0%; left: 50%; }
.joystick-sector.down { top: 50%; left: 50%; }
.joystick-sector.left { top: 0%; left: 0%; }
.joystick-sector.right { top: 0%; left: 50%; }

.joystick-sector.up { transform-origin: bottom left; rotate: -45deg; }
.joystick-sector.down { transform-origin: top left; rotate: 45deg; }
.joystick-sector.left { transform-origin: bottom right; rotate: -45deg; }
.joystick-sector.right { transform-origin: bottom left; rotate: 45deg; }

.joystick-sector.up svg { margin: 0 0 7px 7px; rotate: 45deg; }
.joystick-sector.down svg { margin: 7px 0 0 7px; rotate: 135deg; }
.joystick-sector.left svg { margin: 0 7px 7px 0; rotate: -45deg; }
.joystick-sector.right svg { margin: 0 0 7px 7px; rotate: 45deg; }

#joystick-overlay {
  overflow: hidden;
  width: 8rem;
  height: 4rem;
  border-radius: 0%;
}

#joystick-overlay::after {
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  background: white;
  border: 2px solid hsl(227, 76%, 45%);
  box-sizing: border-box;
}

#joystick-shadow {
  width: 4rem;
  height: 4rem;
  background: hsl(212, 100%, 15%);
}

#joystick-outer-ring {
  width: 3.5rem;
  height: 3.5rem;
  background: hsl(210, 82%, 20%);
}

#joystick-inner-ring {
  width: 2.5rem;
  height: 2.5rem;
  background: hsl(212, 73%, 37%);
}

#joystick-knob {
  width: 3rem;
  height: 3rem;
  background: hsl(224, 91%, 70%);
  border: 2px solid hsl(212, 100%, 15%);
}

*:not(#joystick-knob) {
  -webkit-user-drag: none;
  user-select: none;
}

#grid {
  width: 100%;
  background: hsl(227, 76%, 45%);
}

.cell {
  position: relative;
  background: #fff;
  aspect-ratio: 1;
}

.cell:nth-child(even) {
  background: repeating-linear-gradient(
    45deg,
    hsl(227, 76%, 45%),
    hsl(227, 76%, 45%) 5%,
    #fff 5%,
    #fff 11%
  );
}

.cell > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cell .obstacle {
  background: hsl(227, 76%, 56%);
}

.cell .dot::after {
  display: block;
  content: "";
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: hsl(227, 76%, 35%);
  border: 3px solid #fff;
}

.cell .pellet::after {
  display: block;
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: hsl(227, 76%, 35%);
  border: 3px solid #fff;
}

.cell .player::after { z-index: 2; }
.cell .enemy::after { z-index: 1; }

.cell .player::after,
.cell .enemy::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  translate: -50% 0;
  height: 125%;
  aspect-ratio: 2/3;
  background-image: url("/assets/white-pawn.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.cell .enemy.blinky::after { background-image: url("/assets/black-pawn-blinky.png"); }
.cell .enemy.inky::after { background-image: url("/assets/black-pawn-inky.png"); }
.cell .enemy.pinky::after { background-image: url("/assets/black-pawn-pinky.png"); }
.cell .enemy.clyde::after { background-image: url("/assets/black-pawn-clyde.png"); }

.cell .player.promoted::after {
  background-image: var(--white-rook-url);
  animation-timing-function: linear;
}

.cell .player.transforming::after {
  animation-name: rubberBand !important;
  animation-play-state: running !important;
  animation-delay: 0s;
}

.cell .stopped:not(.waiting)::after,
.cell .freeze:not(.waiting)::after { animation-play-state: paused; }

.cell .player.promoted.right::after { animation-name: rookMoveRight; }
.cell .player.promoted.left::after { animation-name: rookMoveLeft; scale: -1 1; }
.cell .player.promoted.up::after { animation-name: rookMoveUp; }
.cell .player.promoted.down::after { animation-name: rookMoveDown; }

.cell :is(.enemy, .player:not(.promoted)).right::after { animation-name: pawnMoveRight }
.cell :is(.enemy, .player:not(.promoted)).left::after { animation-name: pawnMoveLeft; scale: -1 1; }
.cell :is(.enemy, .player:not(.promoted)).up::after { animation-name: pawnMoveUp }
.cell :is(.enemy, .player:not(.promoted)).down::after { animation-name: pawnMoveDown }

.cell .waiting::after {
  animation-name: blink !important;
  animation-duration: 3s !important;
  animation-iteration-count: infinite !important;
}

@keyframes blink {
  0%, 20%, 40%, 60%, 80%, 100% { filter: none; }
  10%, 30%, 50%, 70%, 90% { filter: brightness(1.75); }
}

@keyframes rubberBand {
  0% { transform: scale(1, 1); }
  30% { transform: scale(1.25, 0.75); }
  40% { transform: scale(0.75, 1.25); }
  50% { transform: scale(1.15, 0.85); }
  65% { transform: scale(0.95, 1.05); }
  75% { transform: scale(1.05, 0.95); }
  100% { transform: scale(1, 1); }
}

@keyframes rookMoveRight {
  100% { left: 150%; }
}

@keyframes rookMoveLeft {
  100% { left: -50%; }
}

@keyframes rookMoveUp {
  100% { bottom: 100%; }
}

@keyframes rookMoveDown {
  100% { bottom: -100%; }
}

@keyframes pawnMoveRight {
  25% { left: 75%; bottom: 17%; }
  50% { left: 100%; bottom: 34%; rotate: -10deg; }
  100% { left: 150%; bottom: 0%; }
}

@keyframes pawnMoveLeft {
  25% { left: 25%; bottom: 17%; }
  50% { left: 0%; bottom: 34%; rotate: 10deg; }
  100% { left: -50%; bottom: 0%; }
}

@keyframes pawnMoveUp {
  20% { bottom: 30%; scale: 1.05; rotate: -5deg; }
  60% { bottom: 60%; scale: 1.05; rotate: -5deg; }
  80% { bottom: 80%; }
  100% { bottom: 100%; }
}

@keyframes pawnMoveDown {
  20% { bottom: -30%; scale: 1.05; rotate: -5deg; }
  60% { bottom: -60%; scale: 1.05; rotate: -5deg; }
  80% { bottom: -80%; }
  100% { bottom: -100%; }
}
