* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid {
  background: #ddd;
}

.cell {
  background: #fff;
}

.cell.player {
  background: #aaa;
}
